@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Fraunces', serif;
  }
  
  .font-serif {
    font-family: 'Fraunces', serif;
  }
  
  body {
    @apply antialiased;
  }
}
